@import '@magenta-ui/styles/scss/variables.scss';

// Container
$container-width: 1200px;
$container-padding: $spacing-md;

// Header
$header-height: 82px;
$header-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Sidebar
$sidebar-width: 200px;

// Content section
$content-width: 700px;
